{% extends "base.html" %}

{% block content %}

<div class="header-image">
  <img src="/images/gallery/fullsrc/shore.jpeg">
</div>

<div class="section-ellipsis">
  <p>•</p>
  <p>•</p>
  <p>•</p>
</div>

<div class="main-directory link-slide">
  <a href="/photos">
    <div class="main-directory-link">
      <h1> photos <h1>
          <span class="material-symbols-outlined" style="font-size: 50%;">arrow_forward_ios</span>
    </div>
    <p> Feb 28, 2026 </p>
  </a>
</div>
<div class="main-directory link-slide">
  <a href="/writing">
    <div class="main-directory-link">
      <h1> words <h1>
          <span class="material-symbols-outlined" style="font-size: 50%;">arrow_forward_ios</span>
    </div>
    <p> Feb 28, 2026 </p>
  </a>
</div>
<div class="main-directory link-slide">
  <a href="/now">
    <div class="main-directory-link">
      <h1> now <h1>
          <span class="material-symbols-outlined" style="font-size: 50%;">arrow_forward_ios</span>
    </div>
    <p> Feb 28, 2026 </p>
  </a>
</div>
{% endblock content %}