<div id="lightbox" class="lightbox hidden">
  <div class="lightbox-container">
    <div class="lightbox-controls">
      <button class="lightbox-prev hidden">
        <span class="material-symbols-outlined">arrow_back_ios</span>
      </button>
      <button class="lightbox-next hidden">
        <span class="material-symbols-outlined">arrow_forward_ios</span>
      </button>
      <button class="lightbox-close">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
    <img id="lightbox-img" src="" alt="Full Image">
    <img id="lightbox-img-next" src="" alt="Next Image" class="hidden">
    <div class="lightbox-dots hidden"></div>
  </div>
</div>
