{% extends "base.html" %}

{% block content %}

<div id="lightbox" class="lightbox hidden">
  <div class="lightbox-container">
    <button class="lightbox-close">
      <span class="material-symbols-outlined">close</span>
    </button>
    <img id="lightbox-img" src="" alt="Full Image">
  </div>
</div>

<section class="gallery-section">
  <h1> aerial </h1>
  <hr class="section-divider">
  <div class="photo-gallery">
    <img src="/images/gallery/thumbnails/shore.jpeg" data-fullsrc="/images/gallery/fullsrc/shore.jpeg">
    <a href="/photos/monterey-showcase" class="showcase-link">
      <img src="/images/gallery/thumbnails/monterey.jpg" data-fullsrc="/images/gallery/fullsrc/monterey.jpg">
      <span class="showcase-indicator">
        <span class="material-symbols-outlined">north_east</span>
      </span>
    </a>
    <img src="/images/gallery/thumbnails/bridge.jpg" data-fullsrc="/images/gallery/fullsrc/bridge.jpg">
      <img src="/images/gallery/thumbnails/frost.jpeg" data-fullsrc="/images/gallery/fullsrc/frost.jpeg">
    <img src="/images/gallery/thumbnails/sunset.jpg" data-fullsrc="/images/gallery/fullsrc/sunset.jpg">
    <img src="/images/gallery/thumbnails/squirtle.jpeg" data-fullsrc="/images/gallery/fullsrc/squirtle.jpeg">
  </div>
</section>

<section class="gallery-section">
  <h1> food </h1>
  <hr class="section-divider">
  <div class="photo-gallery">
    <img src="/images/gallery/thumbnails/soba.jpg" data-fullsrc="/images/gallery/fullsrc/soba.jpg">
    <img src="/images/gallery/thumbnails/latte2.jpeg" data-fullsrc="/images/gallery/fullsrc/latte2.jpeg">
  </div>

</section>

<section class="gallery-section">
  <h1> places </h1>
  <hr class="section-divider">
  <div class="photo-gallery">
    <img src="/images/gallery/ventura.jpg" data-fullsrc="/images/gallery/fullsrc/ventura.jpg">
  </div>
</section>


{% endblock %}
