{% extends "base.html" %}

{% block content %}

<h1> nature </h1>
<hr class="section-divider" style="margin: 1rem 0;">
<div class="photo-gallery">
  <img src="/images/gallery/ventura.jpg">
  <a href="/photos/latte-art">
    <img src="/images/gallery/valley.png">
  </a>
  <img src="/images/gallery/shore.jpeg">
  <img src="/images/gallery/bridge.jpg">
  <img src="/images/gallery/monterey.jpg">
  <img src="/images/gallery/sunset.jpg">
  <img src="/images/gallery/squirtle.jpeg">

</div>

{% endblock %}
