<!DOCTYPE html>
<head></head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <title> Dhaval Biradar </title>

  <script src="/themetoggle.js"></script>
  <script async src="/footnote.js"></script>
  <script src="/js/lightbox.js" defer></script>
  <!--script data-goatcounter="https://tbanalytics.goatcounter.com/count" async
    src="//gc.zgo.at/count.js"></script-->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back_ios,arrow_forward_ios,close,north_east" />
  <link rel="preload" href="/fonts/Inter-VariableFont_opsz,wght.ttf" as="font" type="font/ttf">
  <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg"/>
  <link rel="stylesheet" href="/style.css"/>

  {% block extra_head %} {% endblock extra_head %}
</head>

<body class="showcase-body">
  <header class="showcase-header">
    <div class="directory">
      <a href="/" class="title">
        <h1 id="header-name">db</h1>
      </a>

      {% if page %}
        {% set path_parts = page.components %}
        {% if path_parts | length > 0 %}
          {% set top_section = path_parts[0] %}
          <div class="directory-link">
            {% if top_section == "writing" %}
            <h1 id="header-directory">/</h1>
            <a href="/writing">
              {{ top_section }}
            </a>
            {% elif top_section == "photos" %}
            <h1 id="header-directory">/</h1>
            <a href="/photos">
              {{ top_section }}
            </a>
            {% endif %}
          </div>
          {% endif %}
      {% endif %}
      {% if section.title %}
        <h1 id="header-directory">/</h1>
        <h1 id="header-directory">{{section.title}}</h1>
      {% endif %}

    </div>

    <a href="/about">about</a>
  </header>


  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <hr class="section-divider" style="margin-bottom: 2rem;">
    <p> dhaval biradar </p>
    <a> rss </a> ·
    <a href="https://www.github.com/dhavalsb"> github </a> ·
    <a href="https://www.linkedin.com/in/dhaval-b-486b1723a/"> linkedin </a> ·
    <a href="mailto:pythondsb@gmail.com"> email </a>
    <div class="colophon">
    </div>
  </footer>
</body>
