{% extends "base.html" %}

{% block content %}

<!--div class="header-image">
  <center>
    <image src="/images/1.jpeg" style="border-radius: 3.0em;"/>
  </center>
</div-->


<!--h2 class="section-header">{{ section.title }}</h2-->

<div>{{ section.content | safe }}</div>

<!-- div class="featured">
  <h2>Featured</h2>
  <h3>
    <a href="/projects/currentFav.md">
      Current Favorite Title
      <span class="material-symbols-outlined" style="font-size: 80%; color: var(--link-color);">arrow_forward_ios</span>
    </a>
  </h3> 

  <p>
  June 5, 2025 • Section/Category
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <hr class="section-divider" style="margin-top: 2.5rem;">
</div-->

<ul class="blog-posts">
  {% set all_pages = [] %}
  {% for subsection_path in section.subsections %}
  {% set subsection = get_section(path=subsection_path) %}
  {% set_global all_pages = all_pages | concat(with=subsection.pages) %}
  {% endfor %}
  {% for page in all_pages | sort(attribute="date") | reverse %}
  <li>
    <time datetime={{ page.date }}>{{ page.date | date(format="%m/%d/%Y") }}</time>
    <a href="{{ page.path | safe }}">{{ page.title }}{% if page.extra.category %}<span class="post-category">{{
        page.extra.category }}</span>{% endif %}</a>
  </li>
  {% endfor %}
</ul>


<!--ul class="writing-sections">
  <li>
      <a href="/writing/blog">Blog</a> — Essays
  </li>
  <li>
      <a href="/writing/projects">Projects</a> — Projects
  </li>
  <li>
      <a href="/writing/creative">Creative</a>
  </li>


</ul-->

{% endblock %}